h1 {

color: rgb(131, 0, 78);


}

h2 {

color: rgb(134, 0, 62);

}

img {

border: 10px solid rgb(255, 0, 140);
}
body {
    background-color: rgb(255, 178, 237);
    background-image: url(../gif/jo-bonten-surival-expert-jo-bonten.gif);
}

